.login-form {
    width: 30%;
    margin: 0 auto;
    padding: 20px 15px 10px 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
}
.login-form:hover{
    border: 1px solid var(--primary-color);
}
.login-form form {
    color: #434343;
    border-radius: 15px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid var(--primary-color);
    /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
    padding: 30px;
}
.login-form h4 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}
.login-form .avatar {
    color: #fff;
    margin: 0 auto 30px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 9;
    background: #4aba70;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-form .avatar i {
    font-size: 62px;
}
.login-form .form-group {
    margin-bottom: 20px;
}
.form-control {
    box-shadow: none;
    /* border-color: #ddd; */
    border: 1px solid #393E41;
    border-radius: 10px !important;
    width: 80%;
}
 input .form-control:focus {
    box-shadow: none;
    outline: #42ae68 !important;
    border: 2px solid  var(--primary-color) !important
    /* border-color: var(--primary-color) !important;  */
}
.login-form .form-control, .login-form .btn {
    min-height: 40px;
    border-radius: 2px; 
    transition: all 0.5s;
}
.login-form .close {
    position: absolute;
    top: 15px;
    right: 15px;
}
.login-form .btn {
    background: #4aba70;
    border: none;
    line-height: normal;
}
.login-form .btn:hover, .login-form .btn:focus {
    background: #42ae68;
}
.login-form .checkbox-inline {
    float: left;
}
.login-form input[type="checkbox"] {
    margin-top: 2px;
}
.login-form .forgot-link {
    float: right;
}
.login-form .small {
    font-size: 13px;
}
.login-form a {
    color:   var(--primary-color);
}
.column{
    display: flex;
    flex-direction: column !important;
    /* justify-content: center;
    align-items: center; */
}
